body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/wood.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.title {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1002;
}

.startBtn, .backBtn {
  display: inline-flex;
  align-items: center;
  background-color: #3e966b;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.backBtn {
  position: absolute;
  left: 4em;
  top: 4em;
  z-index: 1003;
}

.startBtn:hover, .backBtn:hover, #restartButton:hover {
  background-color: #216a48;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  z-index: 0;
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid #000;
  position: relative;
}

.cell svg {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell svg.x, .cell svg.o {
  display: none;
}

.cell.show-x .x, .cell.show-o .o {
  display: block;
}

.line1, .line2 {
  stroke: red;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  animation: draw-line 0.5s forwards;
}

.line2 {
  animation-delay: 0.5s;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

circle {
  fill: none;
  stroke: blue;
  stroke-width: 10;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 251.2;
  animation: draw-circle 1s forwards;
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

.winning-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.winning-message.show {
  display: block;
}

#restartButton {
  display: inline-flex;
  align-items: center;
  background-color: #3e966b;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}