.choiceBtn{
    line-height: 30px;
    width: 150px;
}
#gameDiv{
    font-family: 'Poppins', 'sans', italic;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
#playerText{
    color: #4fff38;
}
#computerText{
    color: #ff0000;
}
#sectionScore{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

